chroma-hnswlib==0.7.3
bs4==0.0.2
chromadb==0.4.22
huggingface-hub==0.20.3
langchain==0.1.5
langchain-community==0.0.17
langchain-core==0.1.18
langchain-openai==0.0.5
langchainhub==0.1.14
langsmith==0.0.86
